#typewriter {
  color: var(--primary); /* अपनी पसंद का रंग चुनें */
  /* font-weight: bold; */
}

.cursor {
  font-weight: bold;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}